.custom-table tbody tr:first-child td {
    border-top: 1px solid #000;
}

.custom-table td:first-child {
    font-weight: bold;
    color: #CF0011;
}
  
.image-container img {
    width: 90%;
    height: auto;
}

.description-text {
    font-weight: bold;
    color: #CF0011;
}
  